<div class="containerList">
  <div class="titleProduct">
    <h2> Listagem de Produtos</h2>
  </div>
  <div class="divButtonInsert">
    <a routerLink="/products" class="buttonInsert"> Listagem de Produtos </a>

  </div>
  <div class="divButtonInsert">
    <a routerLink="/create" class="buttonInsert"> Cadastrar Produto </a>

  </div>

  <div class="containerTable">
    <table>
      <tr class="head">
        <th> Nome Do produto</th>
        <th> Preço</th>
        <th> Status</th>
        <th> Ações</th>
      </tr>
      <tr *ngFor="let item of products">
        <td> {{item.name}} </td>
        <td> {{item.price}}</td>
        <td> {{item.status}}</td>
        <td>
          <a [routerLink]="['/edit', item.id]"><img class="icon" src="../../assets/edit-solid.svg" /></a>
          <a (click)="deleteProducts(item.id)"><img class="icon" src="../../assets/trash-solid.svg" /></a>

        </td>
      </tr>
    </table>
  </div>
</div>
